/* *{
    margin: 0px;
    padding: 0px; */

body{
    background-color: #f4f4f4f4;
    color: #555555;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6em;
}

a {
    text-decoration: none;
    color: #000000;
}
a:hover{
    color: red;
}
a:active{
    color: green;
}
/* a:visited{
    color: blue;
} */
.btn{
    background-color: cadetblue;
    color: cornsilk;
    padding: 10px 15px;
    border: none;
}
.btn:hover{
    background-color: red; 
    color: seashell;
    cursor: pointer;
}
.clear-fix{
    clear: both;
}
.container{
    width: 80%;
    margin: auto;
}
.box-1{
    background-color: #333333;
    color: #fff;
    border-top: 5px solid red;
    border-left: 5px solid blue;
    border-bottom: 5px solid yellow;
    border-right: 5px solid brown;

    padding: 20px;
    margin-top: 20px;
}
.box-1 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1.8em;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}
.box-2{
    border:3px #cccccc dotted;
    padding: 20px;
    margin: 20px 0px;
    
}
.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}
.categories h2{
    text-align: center;
}
.categories ul{
    padding: 0px;
    padding-left: 20px;
    list-style: none;
}
.categories li{
    padding-bottom: 8px;
    border-bottom: dotted #555555 3px;
    list-style-image: url('img/check.png');
}
.my-form{
    padding: 20px;
}
.my-form .form-group{
    padding-bottom:  15px;
}
.my-form label{
    display: block;
}
.my-form input[type="text"], .my-form textarea, .my-form input[type="email"]{
    padding: 9px;
    width: 100%;
}
.block{
    float: left;
    width: 33.3%;
    border: 1px grey solid;
    padding: 10px;
    box-sizing: border-box;
}
#main-block{
    float: left;
    width: 70%;
}
#sidebar{
    float: right;
    width: 30%;
    background-color: #555555;
    color: #ccc;
    padding: 15px;
    box-sizing: border-box;
}
.position-box{
    position: relative;
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top: 30px;
    background-image: url('img/forest.jpg');
    background-size: cover;
    color: white;
}
.position-box h1{
    position: absolute;
    top: 40px;
    left: 120px;
}
.position-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;
}
.fix-po {
    position: fixed;
    top: 400px;
}
.my-list li:first-child{
    background-color: yellow;
}
.my-list li:last-child{
    background-color: seagreen;
}
.my-list li:nth-child(6){
    background-color: turquoise;
}
.my-list li:nth-child(even){
    background-color: violet;
}

