body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#main-header{
    background-color: teal;
    color: white;
}
#navbar{
    background-color: #333;
    color: white;
}
#navbar ul{
    padding: 0;
    list-style:none ;
}
#navbar li{
    display: inline;
}
#navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}
#showcase{
    background-image: url(img/forest.jpg);
    background-size: cover;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(243, 10, 10);
}
#showcase h1{
    color: white;
    font-size: 35px;
    line-height: 1.6em ;
    padding-top: 20px;
}
#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}
#sidebar{
    float: right;
    width: 30%;
    background: #333;
    color: white;
    box-sizing: border-box;
    padding: 10px;
}
#main-footer{
    background: #333 ;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 150px;
}
@media(max-width: 600px){
    #main{
        width:100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}
